body {
    background-image: url("./assets/lochie-blanch-y3kIbV-nwh8-unsplash.jpg");
    background-color: #8acf93;
}

.jumbotron {
    margin-top: 20px;
    margin-bottom: 50px;
}

.hero-unit {
    background-color: ivory;
    width: 80%;
    height: 350px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
}

.btn {
    margin-top: 35px;
}